spring:
  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/FREEPDB1
    driver-class-name: oracle.jdbc.OracleDriver
    username: young
    password: 1234

  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    properties:
      hibernate:
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

  sql:
    init:
      mode: never

  mail:
    host: smtp.gmail.com
    port: 587
    username: kmins0927@gmail.com
    password: unqvoyywvecczzmf   # ← 공백 제거!
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
